/* COLORS */
:root {
  --black: #11111;
  --white: #fff;
  --green: #85d1bc;
  --light-orange: #111111;
  --dark-orange: #dd5313;
  --pink: #fceae1;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  margin: 0;
  color: var(--black);
  font-family: Helvetica, Arial, sans-serif;
}

img {
	display:block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

/* CONTAINERS */
.container {
  max-width: 90rem;
  width: 95%;
  margin: auto;
  padding: .5rem;
}

/* LINKS */
a {
  color: var(--light-orange);
}

a:hover {
  color: var(--dark-orange);
  transition: all 0.3s ease-out;
}

/* TITLES */

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.50rem;
  margin: 4.5rem 0 1.5rem 0;
}

h3 {
  font-size: 2rem;
  margin: 3.5rem 0 0.5rem 0;
}

h4 {
  font-size: 1.75rem;
  margin: 3.5rem 0 0.5rem 0;
}

h5 {
  font-size: 1.50rem;
  margin: 3.5rem 0 0.5rem 0;
}

h6 {
  font-size: 1.25rem;
  margin: 3.5rem 0 0.5rem 0;
}

/* HEADER */
/* NAV */
header {
  z-index: 999;
  top: 0;
  background-color: var(--green);
}

header > div {
  display: flex;
  gap: 4rem;
  align-items: baseline;
}

header nav ul {
  font-size: 1.8rem;
  list-style: none;
  display: flex;
  gap: 2.5rem;
  padding: 1.5rem 0;
  margin: 0;
}

header a {
  text-decoration: none;
  color: inherit;
}

/* PAGE */

.page-title {
  background-color: var(--pink);
}

/* FOOTER */
footer {
  background-color: var(--green);
  margin-top: 2rem;
  height: 4rem;
  padding: 1rem 1rem 1.5rem 1rem;
  color: var(--text-light);
  font-size: 1.5rem;
  text-align: center;
  border-top: 1px solid var(--border);
}

/* APRES CA CEST NUL */

@media screen and (min-width: 1px) and (max-width: 380px) {
  header > div {
    display: block;
  }

  header nav ul {
    display: block;
  }

  header div > a {
    float: none;
	padding-top: 0;
  }

  header .container {
    padding-top: 1.5rem;
  }

  header nav li {
    padding: 0.2rem;
  }

}

/* Tel */
@media screen and (min-width: 380px) and (max-width: 671px) {
  header div {
    display: block;
  }

  header nav ul {
    display: block;
  }

  header nav li {
    padding: 0.2rem;
  }

  header div > a {
    float: right;
	padding-top: 7.5rem;
  }

  header .container {
    padding-top: .5rem;
  }
}

/* Au milieu, tablette */
@media screen and (min-width: 672px) and (max-width: 900px) {
  header .container {
    padding-top: 1.8rem;
  }
  header div {
    display: block;
  }
  header nav li {
    padding: 0.1rem;
  }
}

/* Desktop */
@media screen and (min-width: 901px) and (max-width: 2000px) {
  header div {
    display: flex
  }
}

#photos {
  /* Prevent vertical gaps */
  line-height: 0;

  column-count:         3;
  column-gap:           0px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 800px) {
  #photos {
  column-count:         2;
  }
}
@media (max-width: 500px) {
  #photos {
  column-count:         1;
  }
}
